.content__container {
  background-image: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.list {
  &__container {
    flex: 0 0 80%;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 80%;

    @media only screen and (max-width: $bp-small) {
      max-width: 60%;
    }

    @media only screen and (min-width: $bp-small) and (max-width: $bp-medium) {
      max-width: 60%;
    }

    @media only screen and (min-width: $bp-medium) and (max-width: $bp-medium-large) {
      max-width: 50%;
    }

    @media only screen and (min-width: $bp-medium-large) {
      max-width: 35%;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    list-style: none;
    font-size: 1.8rem;
    color: $color-black;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__content {
    border-radius: 4px;
    padding: 1rem;
  }

  &__remove {
    padding: 0.5rem;
    width: 35%;
    color: white;
    background-color: $olive-green;
    border: none;
    border-radius: 2px;
  }
}

.header {
  &__container {
    border-bottom: 3px solid $light-brown;
    border-radius: 4px;
    padding: 1rem;
  }

  &__content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
  }

  &__title {
    color: $color-black;
    text-align: center;
  }

  &__input {
    border-bottom: 1px solid $color-black;
    border-radius: 20px;
    padding: 0.2rem;
    width: 100%;
  }

  &__button {
    padding: 0.5rem;
    width: 35%;
    color: white;
    background-color: $olive-green;
    border: none;
    border-radius: 2px;
  }

  &__error {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2.8rem;
  }
}

.strikethrough {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
